# Node modules
node_modules/

# Local environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folder (if you compile)
dist/

# Editor folders
.vscode/
.idea/
.DS_Store
