body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns No. of Clumb */
    gap: 10px;
    margin-top: 20px;
}

.grid-header {
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

.grid-item {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.paid {
    background-color: #d4edda;
    color: #155724;
}

.unpaid {
    background-color: #f8d7da;
    color: #721c24;
}

.eval_true {
    background-color: #d4edda;
    color: #155724;
}

.eval_false {
    background-color: #f8d7da;
    color: #721c24;
}

a.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    border-radius: 5px;
    margin: 10px;
}

a.button:hover {
    background-color: #45a049;
}